* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header section */

/* header start  */
.header {
    display: flex;
    padding: 50px 200px;
    justify-content: space-around;
    align-items: center;

}

.logo {
    font-size: 40px;
    text-shadow: 5px 5px 10px white;
}

h1:hover {
    text-shadow: 5px 5px 10px rgb(255, 0, 0);
}

.l_name {
    color: white;
}

.logo_btn {
    display: flex;
    gap: 20px;
    font-weight: 400;
    font-size: 20px;
    padding: 0;
}

.logo_btn ul li {
    margin-left: 50pz;
    display: inline;
    align-items: center;
    padding-right: 80px;
    font-size: 30px;

}

.logo_btn ul li a {
    display: inline;
    text-decoration: none;
    color: white;
}

.logo_btn ul li:hover a {
    color: aqua;
}

.logo_btn_me {
    padding: 15px 20px;
    color: #00abe3;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}

.logo_btn_me:hover {
    box-shadow: 3px 3px 6px red;
    color: white;
}


/* header end  */


/* header_image */
.container {
    background-image: url(new-year-new-me-main/images/banner/banner3.png);
    width: 1600px;
    height: 808px;
    margin: 0px 0px;

}

/* header_text */
.container_text {}

.frist_text {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    width: 525px;
    height: 228px;
    padding-left: 845px;
    padding-top: 50px;
}

.second_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    width: 494px;
    height: 78px;
    margin-left: 876px;
    margin-top: 24px;
}

/* button er kaj */
.contact {
    width: 160px;
    height: 64px;
    margin-left: 1215px;
    margin-top: 50px;
    border-radius: 5px;
    font-weight: 600;
    padding: 15px 20px;
    background-color: #151414;
    border: none;
    font-size: 20px ;
    color: #00abe3;
    font-size: 10px;
    font-weight: 600;
  
}
.contact:hover{
    box-shadow: 2px 2px 5px red;
}

.contact_color {
    color: #00abe3;
    font-size: 15px;
}

/* main section er kaj */
main {
    background: rgb(0, 171, 227);
    background: linear-gradient(90deg, rgba(0, 171, 227, 1) 27%, rgba(73, 212, 231, 1) 53%, rgba(0, 134, 255, 1) 100%);
}

/* second container image and details */
.second_container {
    gap: 90px;
    display: flex;
}

.image {
    margin-top: 130px;
    margin-left: 200px;
}

.details {
    text-align: left;
}

.frist_details {
    margin-top: 370px;
    margin-right: 450px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}

.second_details {

    font-size: 16px;
    line-height: 26px;
    margin-right: 300px;
    margin-bottom: 20px;
}

.third_details {
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.color {
    color: rgb(21, 235, 21);
}

/* skil section */
.plan {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 130px;
    margin-bottom: 50px;
}

.skill {}

.skill_text {
    display: flex;
    text-align: center;
    gap: 86px;
    margin: 50px 230px 130px 230px;
}



.info {
    align-items: center;
    margin-bottom: 130px;
}

.skill_image {
    align-items: center;
    margin: 6.76%;
}

.frist_info {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 24px;
}

.second_info {
    font-weight: 500;
    font-size: 25px;
}


/* image_add */
.image_add {
    position: relative;
}

.background_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0px 230px;
    background-repeat: no-repeat;
    left: 0;
    background-image: url(new-year-new-me-main/images/gradient1.png);
}

.first_image_add {
    margin: 0 230px;
    border-radius: 10px;
    padding-bottom: 130px;
}

/* footer section */

footer {
    background-color: #151414;
    
}

.last_container {
    display: flex;
    gap: 330px;
    padding: 130px 0px;
    color: #fff;
    margin: 0 230px;
    padding: 130px;

}

.left_side {
    text-align: left;
}

.future {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px
     margin-bottom: 20px;
}

.future_info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.icon_image {
    gap: 17px;
    margin-top: 10px;
}

.subscribe-box h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.subscribe-box .email {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 20px;
    font-size: 18px;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 20px;
}

.subscribe-box .subscribe-btn {
    border: none;
    background-color: #fd6e0a;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}